<h1>Mice#new</h1>
<div class="row">
    <div>
        <%= form_for(@mouse) do |f| %>
            <%= f.label :date_of_birth %>
            <%= f.date_select :date_of_birth %>
            
            <%= f.label :number %>
            <%= f.text_field :number %>
            
            <%= f.label :sex %>
            <% sex_options = ["male", "female", "unknown"] %>
            <%= f.select :sex, sex_options %>
            
            <%= f.label :species_strain %>
            <%= f.select :species_strain, Mouse::SPECIES_OPTIONS %>
            
            <%= f.label :cage_number %>
            <%= f.text_field :cage_number %>
               
			<%= f.label :comment %>
            <%= f.text_field :comment %>
			   
            <%= f.submit "create new mouse" %>
        <% end %>
    </div>
</div>