<h1>Data on Mouse <%= @mouse.number %></h1>

    <div>
        <ul>
            <li>Date of Birth: <%= @mouse.date_of_birth.to_s[0..9] %></li>
            <li>Sex: <%= @mouse.sex %></li>
            <li>Cage Number: <%= @mouse.cage_number %></li>
			<li>Comment: <%= @mouse.comment %></li>
        </ul>
        <%= link_to "edit", edit_mouse_path(@mouse) %>
        <%= link_to "delete", @mouse, method: :delete, confirm: "You sure?" %>
    </div>
    
    <% surgeries = @mouse.surgeries %>
    <% if surgeries.count != 0 %>
    <h2>Surgeries </h2>
    <table>
        <tr><th>Location</th><th>Surgery Type</th><th>Amount (ul)</th><th>Operation Date</th><th>Titer</th><th>Drugs</th><th>Weight (g)</th><th>Comment</th></tr>
    <% surgeries.count.times do |n| %>
        <tr>
            <td><%= surgeries[n].location %></td>
            <td><%= surgeries[n].surgery_type %></td>
            <td><%= surgeries[n].amount_in_ul %></td>
            <td><%= surgeries[n].operation_date %></td>
            <td><%= surgeries[n].titer %></td>
            <td><%= surgeries[n].drug_application %></td>
            <td><%= surgeries[n].weight %></td>
			<td><%= surgeries[n].comment %></td>
            <td><%= link_to 'delete', surgeries[n], :confirm => 'Are you sure you want to delete this surgery record?', :method => :delete %>
            
        </tr>
    <% end %>
    </table>
    <% end %>
    
    <h2>Add Surgery Data</h2>
    <%= form_for(@surgery) do |f| %>
        <%= f.label :location %>
        <%= f.text_field :location %>
        
        <%= f.label :surgery_type %>
        <%= f.select :surgery_type, Surgery::SURGERY_OPTIONS %>
        
        <%= f.label :operation_date %>
        <%= f.date_select :operation_date %>
        
        <%= f.label :titer %>
        <%= f.text_field :titer %>
        
        <%= f.label :drug_application %>
        <%= f.text_field :drug_application %>
        
        <%= f.label :weight %>
        <%= f.text_field :weight %>
        
		<%= f.label :comment %>
        <%= f.text_field :comment %>
		
        <%= f.hidden_field :mouse_id %>

        
        <%= f.submit "add surgery" %>
    <% end %>
    
    <% cells = @mouse.cells %>
    <% if cells.count != 0 %>
    <h2>Cells</h2>
    <table>
        <tr><th>Channel</th><th>Cell Type</th><th>Brain Area</th><th>Layer</th><th>Intracellular</th><th>Pipette Offset</th><th>Pipette Resistance</th><th>Depth</th><th>Temperature</th><th>Experiment Number</th><th>Comment</th></tr>
    <% cells.count.times do |n| %>
        <tr>
            <td><%= cells[n].channel %></td>
            <td><%= cells[n].cell_type %></td>
            <td><%= cells[n].brain_area %></td>
            <td><%= cells[n].layer %></td>
            <td><%= cells[n].intracellular %></td>
            <td><%= cells[n].pipette_offset %></td>
            <td><%= cells[n].pipette_resistance %></td>
            <td><%= cells[n].depth %></td>
            <td><%= cells[n].temparature %></td>
            <td><%= cells[n].experiment_number %></td>
			<td><%= cells[n].comment %></td>
            <td><%= link_to 'delete', cells[n], :confirm => 'Are you sure you want to delete this surgery record?', :method => :delete %>
            
        </tr>
    <% end %>
    </table>
    <% end %>
    
    
    <h2>Add Cell Data</h2>
    <%= form_for(@cell) do |f| %>
        <%= f.label :channel %>
        <%= f.text_field :channel %>
        
        <%= f.label :cell_type %>
        <%= f.select :cell_type, Cell::TYPE_OPTIONS %>
                
        <%= f.label :brain_area %>
        <%= f.text_field :brain_area %>
        
        <%= f.label :layer %>
        <% layers = ["L1", "L2/3", "L4", "L5", "L6", "unknown"]%>
        <%= f.select :layer, layers %>
        
        <%= f.label :intracellular %>
        <%= f.select :intracellular, Cell::INTRACELLULAR_OPTIONS %>
        
        <%= f.label :pipette_offset %>
        <%= f.text_field :pipette_offset %>
        
        <%= f.label :pipette_resistance %>
        <%= f.text_field :pipette_resistance %>
        
        <%= f.label :depth %>
        <%= f.text_field :depth %>
        
        <%= f.label :temparature %>
        <%= f.text_field :temparature %>
        
        <%= f.label :experiment_number %>
        <%= f.text_field :experiment_number %>
        
		<%= f.label :comment %>
        <%= f.text_field :comment %>
        
        <%= f.hidden_field :mouse_id %>

        <%= f.submit "add cell" %>
    <% end %>
