<h1>Analyses of Cell <%= @cell.id %></h1>

<% analyzedData = @cell.analyses %>
<table>
  <tr><th>type</th><th>files</th><th>comment</th></tr>
  <% analyzedData.each do |n| %>
  <% if !n.new_record? %>
  <tr>
  <td> <%= n.analysis_type %> </td>
  <td> <%= n.file %> </td>
  <td> <%= n.comment %> </td>
  <td> <%= link_to 'delete', n, :confirm => 'Are you sure you want to delete this analysis record?', :method => :delete %></td>
  <td> <%= link_to "edit", edit_analysis_path(n) %> </td>
  </tr>
  <% end %>
  <% end %>
</table>

<h2>Add Analysis Data</h2>
    <%= form_for(@analysis) do |f| %>
        <%= f.label :analysis_type %>
        <%= f.select :analysis_type, Analysis::TYPE_OPTIONS %>
        
        <%= f.label :file %>
        <%= f.text_field :file %>
        
		<%= f.label :comment %>
        <%= f.text_field :comment %>
		
        <%= f.hidden_field :cell_id %>

        <%= f.submit "add analysis" %>
    <% end %>